// Algemene styling
body {
    font-family: Arial, sans-serif;
    max-width: 50rem;
    margin: 0 auto;
    background-color: #14264a;
    color: #14264a;
}

// Hoofditel van de quiz
h1 {
    color: #edd7d9;
    text-align: center;
    margin-bottom: 1.9rem;
}

// STyling voor de vragen
.question {
    margin-bottom: 1.2rem;
    padding: 0.9rem;
    background-color: #f9f9f9;
    border-radius: 0.3rem;
}

.answers label {
    display: block;
    margin: 0.6rem 0;
    padding: 0.3rem;
    cursor: pointer;
}

/* Voor knoppen */
.submit-button {
    display: block;
    margin: 1.2rem auto;
    padding: 0.6rem 1.2rem;
    background-color: #edd7d9;
    color: #14264a;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
}

/* Voor knoppen bij hover */
.submit-button:hover {
    background-color: #b6a6a8;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Feedback bij de verbetering van de vragen */
.correct-feedback {
    color: green;
    font-weight: 600;
    margin-top: 0.6rem;
}

.incorrect-feedback {
    color: red;
    font-weight: 600;
    margin-top: 0.6rem;
}

// Styling voor de resultaten
.results {
    text-align: center;
    padding: 1.2rem;
    margin-top: 1.9rem;
    background-color: #f0f0f0;
    border-radius: 0.3rem;
}